.bigBox {
    background-image: url("https://iili.io/CeOiCAJ.md.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    color: #000;
    border-radius: 3px;
    padding: 30px;
    margin: 20px;
    margin-bottom: 0;

    height: 80px;
    overflow: hidden;
    transition: 2s;
}

.bigBox:hover {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


.scrollSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 !important;
}


.smallBox {
    background: #A3B4AE;
    background-image: none;

    color: #000;
    border-radius: 3px;
    padding: 20px;

    height: 60px;
    width: 450px;

    margin: 20px;
    margin-bottom: 0;

    overflow: hidden;
    transition: 2s;
}


.smallBox:hover {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


.bigBox h1,
.bigBox h2,
.bigBox h3,
.smallBox h1,
.smallBox h2,
.smallBox h3 {
    margin: 0;
    color: inherit;
}
